{% extends 'base.html.twig' %}

{% block body %}

    <h2>Vartotojai</h2>
    <table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>{{ knp_pagination_sortable(users, 'Vardas', 'firstName') }}</th>
        <th>{{ knp_pagination_sortable(users, 'Pavardė', 'lastName') }}</th>
        <th>{{ knp_pagination_sortable(users, 'El. paštas', 'email') }}</th>
        <th>{{ knp_pagination_sortable(users, 'Adresas', 'city') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in users %}
        <tr>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.LastName }}</td>
            <td>{{ customer.Email }}</td>
            <td>{{ customer.city ~ ", " ~ customer.address }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}